{{ define "main" }}
  {{ .Content }}
  <div class="columns">
    <div class="column">
      <h2><a href="/writing/">Writing</a></h2>
      <p>Mainly short stories at the moment.</p>
      {{ range where site.RegularPages "Section" "short_stories" }}
        <p><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></p>
      {{ end }}
      {{ range where site.RegularPages "Section" "poetry" }}
        <p><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></p>
      {{ end }}
    </div>
    <div class="column">
      <h2><a href="/photography/">Photography</a></h2>
      <p>Yet to come.</p>
    </div>
  </div>
{{ end }}